/*
  These are the parameters for running the pipeline with nextflow.
  
  Specify pipeline configuration files (which contains all the parameters for the python scripts)

  Specify output configuration

*/

profiles {
  conda {
    conda.enabled = true
  }
}

params {
  // specify the output directory of the pipeline
  outdir = "/home/richards/kevin.liang2/scratch/exwas_pipeline/results"


  // specify the configuration file for the pipeline
  /*
    This includes all the programs and parameters to run the different tools
  */
  config_file = "/home/richards/kevin.liang2/scratch/exwas_pipeline/config/proj_config.yml"
}

