/*
  These are the parameters for running the pipeline with nextflow.
  
  Specify pipeline configuration files (which contains all the parameters for the python scripts)

  Specify output configuration

*/

params {
  // specify the output directory of the pipeline
  outdir = "/Users/kevinliang/Desktop/work/working/exwas_pipelines/results"


  // specify the configuration file for the pipeline
  /*
    This includes all the programs and parameters to run the different tools
  */
  config_file = "/Users/kevinliang/Desktop/work/working/exwas_pipelines/src/nextflow.config"
}

