/*
  These are the parameters for running the pipeline with nextflow.
  
  Specify pipeline configuration files (which contains all the parameters for the python scripts)

  Specify output configuration

*/

profiles {
  conda {
    process.conda = "${baseDir}/exwas_pipeline_conda_env.yml"
    conda.enabled = true
    process.executor = 'local'
  }
  standard {
    process.executor = 'local'
  }
}



params {
  // Input VCF file
  input_vcf = ""

  // specify the output directory of the pipeline
  outdir = ""

  // specify the yaml configuration file for ExWAS analysis and program executables
  // e.g., proj_config.yml
  config_file = ""
}

